$font-stack:
(group: roboto, id: regular, font: ("PT Sans", Tahoma, "Geneva CY", sans-serif), weight: 200, style: normal),
(group: roboto, id: italic, font: ("PT Sans", Tahoma, "Geneva CY", sans-serif), weight: 200, style: italic),
(group: roboto, id: bold, font: ("PT Sans", Tahoma, "Geneva CY", sans-serif), weight: 400, style: normal),;
// Breakpoint Mixin
@mixin font($group, $id:regular){
  @each $font in $font-stack{
    @if($group == map-get($font, group) and $id == map-get($font, id)){
      font-family: map-get($font, font);
      font-weight: map-get($font, weight);
      font-style: map-get($font, style);
    }
  }
}

%bold {
  @include font(roboto, bold);
}

%italic {
  @include font(roboto, italic);
}


