.icon {
  display: inline-block;
  vertical-align: middle;
  border: none;
  text-decoration: none;
}

@mixin icon-states ($normal: .8, $hover: 1, $active: .5) {
  opacity: $normal;
  &:hover,
  &:focus {
    opacity: $hover;
  }
  &:active {
    opacity: $active;
  }
}

$iconsFolder: 'icons/';
$icons: (
//  'galka': 'galka.png'
);

@function get-icon-file ($name: '') {
  @if $name != '' {
    @return '#{$iconsFolder}#{unquote(map-get($icons, $name))}';
  }
  @return '';
}

@each $name, $file in $icons {
  .icon--#{$name} {
    $file: get-icon-file($name);
    background-image: inline-image($file);
    width: image-width($file);
    height: image-height($file);
    background-size: 100% 100%;
    outline: none;
  }
}