* {
  @include box-sizing('border-box');
}

html, body {
  height: 100%;
}

.layout-block {
  outline: none !important;

}
@if $layout-min-width or $layout-max-width {
  .width-limiter {
    @extend .block-center;
    @if $layout-max-width {
      max-width: $layout-max-width
    }
    @if $layout-min-width {
      min-width: $layout-min-width
    }

    @if $layout-side-space {
      #{$layout-side-space-style}-left: $layout-side-space;
      #{$layout-side-space-style}-right: $layout-side-space;
    }
  }
}

.layout {
  margin: 0;
  width: 100%;
}


.preview {
  position: relative;
  display: inline-block;
  border: none;
  text-decoration: none;
  max-width: 100%;

  img {
    max-width: 100%;
    height: auto;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

//    background: inline-image('loupe.png') no-repeat center center transparent;

    opacity: 0.8;
  }
  &:hover:after {
    opacity: 1;
  }
  &:active:after {
    opacity: .7;
  }
}

.inline-blocks {
  @include ib();
}

@import 'blocks/_slider';
@import 'blocks/_modals';


