$base-font-size: 14px;
$base-line-height: 1.4;

$base-color: #3b3b3b;
$base-color-contrast: #fff;
$selection-color: #b3d4fc;



$mark-color: #cb0e13;
$error-color: #cb0e13;
$contrast-color: #fff;
$widget-color: #0860ac;


$layout-side-space: 85px;
$layout-min-width: 960px + $layout-side-space*2;
$layout-max-width: $layout-min-width;
$layout-side-space-style: "padding"; // or "margin"
$layout-sticky-footer-height: 0;

@include sgs-change('debug', false);

$btn-padding-base-vertical: 10px;
$btn-padding-base-horizontal: 65px;
$btn-font-size-base: 25px;
$btn-line-height-base: 1em;
$btn-border-radius-base: 4px;

$btn-default-color: #fff;
$btn-default-bg: #237bb5;
$btn-default-border: none;
$btn-primary-color: #fff;
$btn-primary-bg: #af0a0b;
$btn-primary-border: none;

