.breadcrumbs {
  $fs: 12px;
  $separator-icon: 'breadcrumbs-separator';
  $separator-side-space: 8px;

  $icons-setup: map-get($sprite-icons, 'base');
  $sprite-map: get-sprite-map(map-get($icons-setup, 'map'));
  $separator-icon-data: get-sprite-icon-info($map: $sprite-map, $name: $separator-icon, $file: true, $sizes: true, $offset: true);

  ul {
    @extend %unlist;
    @include ib (
      $full-width: false,
      $child-selector: li,
      $font-size: $fs
    );

    li {
      font-size: $fs;
      line-height: 1.2;

      margin-left: $separator-side-space;
      padding-left: $separator-side-space + map-get($separator-icon-data, 'width');
      position: relative;

      &:before {
        content: '';
        @extend #{map-get($icons-setup, 'selector-prefix')}#{unquote($separator-icon)};
        position: absolute;

        left: 0;
        top: 50%;

        $margin-top: -(map-get($separator-icon-data, 'height') /2);
        $margin-top: $margin-top + 2px; // hack
        margin-top: $margin-top;
      }

      &:first-child {
        margin-left: 0;
        padding-left: 0;

        &:before {
          display: none;
        }
      }
    }
  }

  a {
    @extend %link--white;
  }
}

