.contacts {

}

.contacts--content {
  //margin-bottom: 35px;

  $fs: 36px;
  .phone,
  .email {
    font-size: $fs;
    line-height: 1;
    margin: 0;
    @include font(roboto);
  }
  .phones {
    margin-bottom: 10px;
    @include ib(
      $child-selector: '.phone',
      $font-size: $fs
    );
  }
  .phone {
    margin-right: 10px;
    line-height: 1.1;

    &:after {
      content: ',';
    }

    &:last-child {
      margin-right: 0;

      &:after {
        content: '';
      }
    }
  }
  .email {

    a {
      @extend %link--green;
    }
  }
}