.news-list-tabs {
  //margin-bottom: 50px;
  margin-bottom: 0;

  $label-fs: 30px;
  $label-lh: 1.2;
  @include e(labels) {
    @extend .content-columns;
    @extend .content-columns--half;

    list-style: none;
    padding-left: 0;
  }
  @include e(label) {
    @extend .content-column;
    @include font(roboto);

    padding-left: 0;
    font-size: $label-fs;
    line-height: $label-lh;
    font-weight: normal;
  }
  @include e(label-link) {
    @include link-pseudo();
    @extend %link--gray;

    font-size: $label-fs;
    line-height: $label-lh;
    font-weight: normal;

    .active & {
      @extend %link--green;
    }
  }

  @include e(panes) {
    margin-top: 35px;
  }
  @include e(pane) {

  }

  @include e(all-link) {
    font-size: 15px;
    line-height: px($label-lh, $label-fs);
  }
}

.news-list {

  @include e(item) {

  }
}

.news {
  @include auto-colums (
    $gutter: 25px,
    $selector-content:  '.news__content',
    $selector-aside-left: '.news__preview'
  );

  @include e(preview) {
    border-radius: 4px;
    overflow: hidden;
    width: 100px;

    a {
      @include ir ($ratio: 100/100, $position: center, $elements: false);

      @extend .no-border;
      display: block;

      //position: absolute;
      //top: 0;
      //right: 0;
      //bottom: 0;
      //left: 0;

      background-repeat: no-repeat;
      background-position: center center;
      @include bg-size(cover);
    }

    img {
      @extend .visuallyhidden;
    }
  }

  @include e(content) {

  }
  @include e(date) {
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    margin-bottom: 5px;

    mark {
      background: none;
      color: $color-scheme-green;
    }
  }
  @include e(title) {
    @include font(roboto);
    font-size: 18px;
    line-height: 1.3em;
    margin: 0 0 5px;
    font-weight: normal;
  }
  @include e(content) {

  }
}

