.articles {

  @include e(item) {
    padding: $content-gutter*2 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    & + .articles__item {
      border-top: 1px solid #e8e8e8;
    }

    @include e(date) {
      @extend %pub-date;
      margin-bottom: 0;
    }
    @include e(title) {
      @include font(roboto);
      font-size: 30px;
      line-height: 1.2em;
      margin: 0 0 13px;
    }
    @include e(intro) {
      @extend %content-section;
    }
    @include e(readmore) {

    }
    @include e(big) {
      font-size: 1.5em;
      line-height: 1.2em;
    }
  }
  @include e(item-inner) {

  }
}