.catalog {

  & + & {
    margin-top: 0;
  }

  @include e (item) {

    @include e (preview) {
      position: relative;
      border-radius: 4px;
      overflow: hidden;

      a {
        @extend .no-border;
        display: block;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-repeat: no-repeat;
        background-position: center center;
        @include bg-size(cover);
      }

      img {
        @extend .visuallyhidden;
      }
    }

    @include e (title) {
      @include font(roboto);

      a {}
    }

    @include e (intro) {

    }

    @include e (readmore) {

      a {}
    }
  }
}

.content-columns--half {

  .catalog__item__preview {
    margin-bottom: 20px;
    @include ir ($ratio: 530/330, $position: center, $elements: 'a');
  }
  //&.catalog--variant-three,
  //.catalog--variant-three & {
  //  .catalog__item {
  //    #{$hovered} {
  //      .catalog__item__preview {
  //        @include ir ($ratio: 530/350, $position: center, $elements: 'a');
  //      }
  //    }
  //  }
  //}
  .catalog__item__intro {
    margin-bottom: 15px;
  }
}

.content-columns--triple {

  .catalog__item__preview {
    margin-bottom: 25px;
    @include ir ($ratio: 530/330, $position: center, $elements: 'a');
  }
  //&.catalog--variant-three,
  //.catalog--variant-three & {
  //  .catalog__item {
  //    #{$hovered} {
  //      .catalog__item__preview {
  //        @include ir ($ratio: 530/350, $position: center, $elements: 'a');
  //      }
  //    }
  //  }
  //}
  .catalog__item__intro {
    margin-bottom: 15px;
  }
}

.content-columns--quadruple {

  .catalog__item__preview {
    margin-bottom: 18px;
    @include ir ($ratio: 220/150, $position: center, $elements: 'a');
  }
  //&.catalog--variant-three,
  //.catalog--variant-three & {
  //  .catalog__item {
  //    #{$hovered} {
  //      .catalog__item__preview {
  //        @include ir ($ratio: 220/170, $position: center, $elements: 'a');
  //      }
  //    }
  //  }
  //}
  .catalog__item__intro {
    margin-bottom: 10px;
  }
}


.catalog {

  &.catalog--variant-one {

    .catalog__item {


      .catalog__item__preview {
        margin-bottom: 20px;

        a {}

        img {}
      }

      .catalog__item__title {
        font-size: 18px;
        line-height: 1.4em;
        margin-bottom: 7px;

        a {
          @extend %link--green;
        }
      }

      .catalog__item__intro {
        margin-bottom: 15px;
      }

      .catalog__item__readmore {

        a {
          @extend %btn;
          @extend %btn--light-green;
        }
      }
    }

  }

  &.catalog.catalog--variant-two {

    .catalog__item {

      .catalog__item__preview {
        margin-bottom: 20px;

        a {}

        img {}
      }

      .catalog__item__title {
        font-size: 18px;
        line-height: 1.4em;
        margin-bottom: 7px;

        a {
          @extend %link--gray;
        }
      }

      .catalog__item__intro {

      }

      .catalog__item__readmore {

        a {
          @extend %btn;
          @extend %btn--light-green;
          @extend %btn--small;
        }
      }
    }

  }

  &.catalog--pick-out {

    &.content-columns--half {

      .catalog__item.hover {

        .catalog__item__preview {
          @include ir ($ratio: 530/360, $position: center, $elements: 'a');
        }
      }
    }

    &.content-columns--triple {

      .catalog__item.hover {

        .catalog__item__preview {
          @include ir ($ratio: 530/360, $position: center, $elements: 'a');
        }
      }
    }

    &.content-columns--quadruple {

      .catalog__item.hover {

        .catalog__item__preview {
          @include ir ($ratio: 220/170, $position: center, $elements: 'a');
        }
      }
    }

    .catalog__item {
      border-radius: 4px;
      position: relative;
      //transition: transform .1s ease-out;

      //padding-top: $columns-gutter /2;
      //padding-bottom: $columns-gutter /2;
      //margin-top: -$columns-gutter /2;

      //.catalog__item-inner {
      //}

      @include e (readmore) {
        position: absolute;
        left: -9999px;
        opacity: 0;
        transition: opacity .5s ease-out;
      }

      .catalog__item-inner {
        top: 0;
        right: 0;
        left: 0;

        $tmp: .1s ease-out;
        transition: right $tmp, left $tmp;
      }

      &.hover {

        .catalog__item-inner {
          position: absolute;
          padding: $columns-gutter /2;
          top: -($columns-gutter /2);
          right: -($columns-gutter /2);
          left: -($columns-gutter /2);
          z-index: 2;
          background: #fff;
          box-shadow: 0 0 5px 0 rgba(#000, .5);
          border-radius: 4px;
        }

        //transform: scale(1.05);

        .catalog__item__readmore {
          position: static;
          opacity: 1;
        }


        //position: relative;
        //
        //$tmp: -10px;
        //.catalog__item-inner {
        //  position: absolute;
        //  top: $tmp;
        //  right: $tmp;
        //  bottom: 0;
        //  left: $tmp;
        //  box-shadow: 0 5px 0 rgba(#000, .5);
        //}
      }
    }
  }

}
