.layout-footer {
  background: #483e3a;
}

.footer {
  @include e(top, bottom) {
    @include clearfix;
  }

  @include e(top) {
    @include add-grid(6 5);
    @include add-gutter(20px);

    @include e(left) {
      @include grid-span(1, 1);
    }
    @include e(right) {
      @include grid-span(1, 2);
    }

    .contacts {
      padding-top: 25px;
    }
  }

  @include e(bottom) {
    margin-top: 15px;

    @include add-grid(4 6);
    @include add-gutter(20px);

    .logo {
      @include grid-span(1, 1);

      a {
        display: inline-block;
      }
    }
    .social-links {
      @include grid-span(1, 2);

      padding-top: 25px;
    }
  }

  .social-links {
    $fs: 15px;
    font-size: $fs;

    @include clearfix;

    @include e (label) {
      color: $color-scheme-white;
      margin: 0 25px 0 0;
      float: left;
    }

    @include e (list) {
      @extend %unlist;
      @include ib (
        $full-width: false,
        $child-selector: li,
        $font-size: $fs
      );


      li {
        margin-left: 50px;

        &:first-child {
          margin-left: 0;
        }
      }

      a {
        @extend %link--white;
      }
    }
  }

  .contacts {
    margin-bottom: 0;
    margin-top: 0;

    .go-to-modal {

    }

    .phones {
      font-size: 20px;
      color: $color-scheme-white;
      display: inline-block;
      vertical-align: middle;
      margin-left: 30px;
    }
    .phone {
      display: block;
      margin-top: 3px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}