.form--pricelist {
  padding: 25px;
  background: #f1f1f1;
  border-radius: 4px;

  .form__title {
    @include font(roboto);
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    color: $color-scheme-green;
    margin-bottom: 5px;
  }

  .form__intro {
    margin-bottom: 30px;
  }

  .form__group {
    width: 100%;

    @include auto-colums (
      $gutter: 0,
      $gutter-style: 'padding',
      $selector-content: '.form__group__content',
      $selector-aside-left: '',
      $selector-aside-right: '.form__group__aside.form__group__aside--right'
    );

    .form__group__aside--right {
      margin-left: -5px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .form__group-message {
    display: block;
    width: 100%;
    margin-bottom: 3px;

    &:empty {
      display: none;
    }
  }
}

.modal-pricelist {
  @extend .block-center;
  min-width: 250px;
  max-width: 500px;
  position: relative;

  .form {
    box-shadow: 5px 5px 20px rgba(#000, .6);
  }
}

