.text-content,
.layout-content {
  @extend %base-text;
  line-height: 1.4;


  a {
    @extend .link--green;
  }

  img {
    background: inline-image('jquery.ajax.form.loader/loader.gif') no-repeat center center transparent;
  }

  h1, h2, h3, h4, h5, h6 {
    @include font(roboto);
  }

}

.phone {
  white-space: nowrap;
}
