.layout--auth {
  position: relative;

  .layout__header-inner,
  .layout__footer-inner {
    padding: 30px 40px;
  }

  .layout__footer-inner {
    @include sf-clearfix;
  }

  @include e(bg) {
    @include sf-stretch();
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -999;
  }

  .bg-copyright {
    float: right;
    margin-right: 55px;

    font-size: 14px;
    line-height: 17px;
    color: #fff;

    > * {
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }

    @include e(title, author) {
      display: block;

      &:empty {
        display: none;
      }
    }
    @include e(title) {

    }
    @include e(author) {
      opacity: .5;
    }
  }


  .layout__content {
    position: relative;

    .auth {
      margin-top: 90px;

      @include sf-block-center;
    }
  }
}
