.layout {
  &,
  &.layout--default {
    @include sidebars (
      $selector-container: '.layout__middle',
      $selector-content-container: '.layout__content-container',
      $selector-content: '.layout__content',
      $selector-sidebar-left: '.layout__sidebar.layout__sidebar--left',
      $selector-sidebar-right: '.layout__sidebar.layout__sidebar--right',
      $sidebar-left-width: 0,
      $sidebar-left-gutter: 0,
      $sidebar-right-width: 0,
      $sidebar-right-gutter: 0
    );
  }
}

.layout__width {
  @include layout-width-min(
  $width: 1000px,
  $side-space: 20px
  );

  > .layout__width-inner {
    @include layout-width-max(
    $width: 1400px,
    $side-space: 0px
    );
  }
}

@include sticky-footer (
  $height: 100px,
  $selector-container: '.layout.layout--default',
  $selector-content: '.layout__middle',
  $selector-footer: '.layout__footer'
);

