.auth {
  $gutter: 20px;

  color: #666666;
  font-size: 14px;
  padding: 30px 35px;
  position: relative;
  background: #fff;
  box-shadow: 0 5px 10px rgba(#000, .5);

  border-radius: 4px;

  > * {
    margin-top: $gutter;
  }

  @include e(title) {
    color: #000000;
    font-size: $gutter;
    margin-top: 0;
  }

  @include e(field) {
    & + & {
      margin-top: $gutter /2;
    }
  }

  @include e(submit) {

  }


  @include e(description) {
    color: #878787;
    font-size: 11px;
    line-height: 14px;

    a {
      @include sf-link (
        $color-normal: #878787
      );
    }
  }

  @include e(socials) {

  }

  @include e(socials) {

  }
  @include e(social) {

    a {

    }
    .icon {

    }
  }

  @include m(login, registration) {

  }

}

.auth-outer {

}
