.layout__menu {
  background: #222222;
}

.nav-bar {
  $navbar-height: 40px;

  @include sf-clearfix;

  height: $navbar-height;
  min-height: $navbar-height;

  //@include e(logo) {
  //  display: block;
  //  max-height: 100%;
  //  width: 100px;
  //  margin: 12px 0;
  //}

  @include e(nav) {
    @include unlist;
    @include sf-clearfix;
    @include sf-ib;

    height: 100%;
    color: #999999;

    > li {
      height: 100%;
      display: inline-block;
      vertical-align: middle;

      > * {
        display: inline-block;
        vertical-align: middle;
      }

      > a {
        display: block;
        @include sf-vcenter-lh($navbar-height);
        //padding: 12px;

        //height: 100%;

      }

      &.is-active {

      }
    }
  }


}


/*
.nav-bar {
  $navbar-height: 40px;

  height: 40px;
  min-height: 40px;

  @include sf-asides (
    $selector-aside-left: '.nav-bar__left',
    $selector-aside-right: '.nav-bar__right',
    $selector-aside-center: '.nav-bar__center',
    $gutter: 30px
  );

  //display: table;
  //width: 100%;

  @include e(left, center, right) {
    height: 100%;
    //@include sf-vcenter-ib;
    //display: table-cell;
    //vertical-align: middle;
    //height: 100%;
    //padding: 0;
  }

  @include e(logo) {
    display: block;
    max-height: 100%;
    max-width: 100px;
    margin: 12px 0;
  }

  @include e(nav) {
    @include unlist;
    @include sf-clearfix;
    @include sf-ib;

    height: 100%;

    color: #999999;

    > li {
      display: inline-block;
      vertical-align: middle;

      > a {
        display: block;
        padding: 12px;

        //height: 100%;

      }


    }
  }


}
*/
