.user-location-add {
  @include sf-block-center;

  max-width: 60%;
  margin-top: 80px;


  @include e(content) {
    @include sf-text-center;
    @include sf-content-gutter-x(15px);
  }

  @include e(icon) {

  }

  @include e(title) {
    @include sf-text-center;

    font-size: 20px;
    margin-top: 0;
  }

  @include e(description) {
    color: #999999;
    font-size: 16px;
    line-height: 24px;
  }

  @include e(form) {
    margin-top: 35px;
  }

}
