.user-locations {
  @include sf-block-center;

  max-width: 60%;
  margin-top: 80px;

  @include e(add-intro) {
    @include sf-text-center;
    @include sf-content-gutter-x(15px);

    &.ul-add-intro {

      @include e(icon) {

      }

      @include e(title) {
        @include sf-text-center;

        font-size: 20px;
        margin-top: 0;
      }

      @include e(description) {
        color: #999999;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  @include e(form) {
    margin-top: 35px;

    &.ul-form {

      @include e(input-text) {

      }
    }
  }

  @include e(list) {
    test: asd;

    &.uloc-locations {
      asd: qwe;

      @include e(title) {
        zxc: qwe;
      }

      @include e(list) {

      }

      @include e(location) {

      }
    }
  }
}
