#modals {
//  display: none;
}




$modal-shadow: 20px 20px 45px 0 rgba(0, 0, 0, 0.75);
$modal-margin: 20px;
%modal-closer {
  @extend .ir;
  @extend .icon;
  @include icon-states;
  display: block;
  visibility: visible;
  background-position: center center;
  cursor: pointer;

  top: 0;
  left: 100%;
  position: absolute;
  margin: 0 0 0 $modal-margin;

  $icon: 'closer';
  @extend .icon--#{$icon};
  //    margin-top: -(image-height(get-icon-file($icon))) / 2;
}

.custom-fancy {
  $margin: 20px;

  .fancybox-skin {
    box-shadow: $modal-shadow;
    background: #fff;
    border-radius: 0;
    color: $base-color;
  }

  .fancybox-nav {
    @include icon-states;

    span {
      @extend .ir;
      @extend .icon;
      display: block;
      visibility: visible;
      background-position: center center;
    }


    &.fancybox-prev {
      left: auto;
      right: 100%;

      span {
        $icon: 'arrow-left-yellow-big';
        @extend .icon--#{$icon};
        margin-top: -(image-height(get-icon-file($icon))) / 2;
        margin-right: $modal-margin;
        left: auto;
        right: 0;
      }
    }
    &.fancybox-next {
      right: auto;
      left: 100%;

      span {
        $icon: 'arrow-right-yellow-big';
        @extend .icon--#{$icon};
        margin-top: -(image-height(get-icon-file($icon))) / 2;
        margin-left: $modal-margin;
        right: auto;
        left: 0;
      }
    }
  }

  .fancybox-close {
    @extend %modal-closer;
  }
}

.modal {

//  @include e(inner) {
//    @extend .width-limiter;
//    //    display: table;
//    height: 100%;
//    margin: 0 auto;
//    //    max-width:100%;
//
//    @include e(inner) {
//      //      display: table;
//      height: 100%;
//      margin: 0 auto;
//      max-width:100%;
//
//      @include e(inner) {
//        //        display: table-cell;
//        position: relative;
//        vertical-align: middle;
//        max-width:100%;
//
//
//      }
//    }
//  }
//
//  &.modal--fixed {
//    .modal__inner {
//
//      .modal__inner__inner {
//
//        .modal__inner__inner__inner {
//          vertical-align: top;
//          padding-top: 50px;
//        }
//      }
//    }
//
//  }


  @include e(inner) {
    @extend .width-limiter;
    display: table;
    height: 100%;
    margin: 0 auto;
//    max-width:100%;

    @include e(inner) {
      display: table;
      height: 100%;
      margin: 0 auto;
      max-width:100%;

      @include e(inner) {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        max-width:100%;
      }
    }
  }

  &.modal--fixed {
    .modal__inner {
      display: block;

      .modal__inner__inner {
        display: block;

        .modal__inner__inner__inner {
          display: block;

          vertical-align: top;
          padding-top: 50px;
        }
      }
    }

  }



  @include e(content-wrapper) {
    margin: $modal-margin 0;
    box-shadow: $modal-shadow;
    background: #fff;
    position: relative;

  }
  @include e(modal__content) {

  }
  @include e(closer) {
    @extend %modal-closer;
  }
}

