// .usr-prof
.user-profile {}
.usr-prof {
  @include sf-block-center;

  width: 670px;

  @include e(form) {

  }

  $section-gutter: 40px;
  @include sf-content-gutter-x($section-gutter, $selector: '.usr-prof__section');

  @include e(section) {
    @include sf-asides(
      $selector-aside-left: '.usr-prof__section-left',
      $selector-aside-right: '',
      $selector-aside-center: '.usr-prof__section-right',
      $gutter: 60px
    );

    padding-top: $section-gutter;
    border-top: 1px solid #dddddd;

    &:first-child {
      padding-top: 0;
      border-top: none;
    }

    @include e(left) {

    }

    @include e(right) {

    }
  }
}


.usr-prof-form {

  @include e(avatar) {
    @include sf-content-gutter-x($gutter: 10px);
  }

  @include e(fields) {

  }

  @include e(phone) {
    .input-group {
      width: 100%;
    }
  }

  @include e(bdate) {
    display: block;
  }
}

