@mixin avatar ($width: null) {
  $border-color: #ddd;
  @include sf-visually-hidden-content;
  @include sr-ratio;

  display: inline-block;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: cover;

  border: 1px solid $border-color;
  vertical-align: middle;

  border-radius: 50%;

  img {
    display: block;
  }

  a &,
  .link & {
    #{$is-hovered} {
      border-color: darken($border-color, 2%);
    }
    #{$is-active} {
      border-color: lighten($border-color, 2%);
    }
  }

  @if (is-measure($width)) {
    width: $width;
  }

  @content;
}
