$support-for: (
  chrome:  -4,
  edge:    -4,
  firefox: -4,
  ie:      8,
  opera:   -4,
  safari:  -4,
  '*':     -4,
) !default;

$base-box-sizing:           border-box;
$base-font-size:            16px;
$base-line-height:          1.4;
//$base-line-height:          px(1.4em, $base-font-size);
$base-font-family:          sans-serif;
$base-color:                #333;
$base-selection-color:      #fff;
$base-selection-background: #2626ff;
$base-hr-color:             #ccc;
$base-hr-height:            1px;
$base-gutter:               $base-font-size;

$base-unit: 'px' !default;

$h1-font-size: 2    * $base-font-size !default;
$h2-font-size: 1.5  * $base-font-size !default;
$h3-font-size: 1.17 * $base-font-size !default;
$h4-font-size: 1    * $base-font-size !default;
$h5-font-size: 0.83 * $base-font-size !default;
$h6-font-size: 0.67 * $base-font-size !default;

$indent-amount: $base-gutter !default;

$normalize-vertical-rhythm: false !default;

$tahoma-stack: 'Tahoma', 'Geneva CY', 'sans-serif';
$fonts: (
  //(name: ptsans, type: regular,      stack: sl-prepend($tahoma-stack, "PTSans")),
  //(name: ptsans, type: italic,       stack: sl-prepend($tahoma-stack, "PTSansItalic")),
  //(name: ptsans, type: bold,         stack: sl-prepend($tahoma-stack, "PTSansBold")),
  //(name: ptsans, type: bold-italic,  stack: sl-prepend($tahoma-stack, "PTSansBoldItalic")),
) !default;

$theme-current: default;
$base-layout-width-min: 950px;
$base-layout-width-max: 1400px;
$base-layout-side-space: 20px;

$is-hovered:  unquote('&:hover, &.is-hovered') !default;
$is-focused:  unquote('&:focus, &.is-focused') !default;
$is-active:   unquote('&:active, &.is-active') !default;
$is-visited:  unquote('&:visited, &.is-visited') !default;
$is-required: unquote('&.is-required, &[required]') !default;
$is-disabled: unquote('&.is-disabled, &[disabled], fieldset[disabled] &') !default;
$is-error:    unquote('&.is-error') !default;
$is-success:  unquote('&.is-success') !default;

$background-size-behavior: '/js/vendor/backgroundsize.min.htc' !default;

$inputs-like-text-types: text email number password search tel url color date datetime datetime-local month time week !default;

