extends ./layout.jade

block append head
  // head index

block title
  title= title

block append content
  h1 My Article
  if config
    h2= config.param1

  include tpl/childtpl

  ul
    li qweqwe #[em #[b asdasd asd]]
