* {
  box-sizing: border-box;
}

@if (type-of($layouts) == map) {

  @each $name, $options in $layouts {
    $container: 'body';
    $layout: null;
    @if (map-has-key($options, 'container') and map-get($options, 'container') != '') {
      $container: map-get($options, 'container');
    }
    @if (map-has-key($options, 'layout')) {
      $layout: map-get($options, 'layout');
    }

    @if (type-of($layout) == map) {
      #{$container} {
        @if (map-has-key($layout, 'sidebars')) {
          $sidebars: map-get($layout, 'sidebars');
          @if (type-of($sidebars) == map) {
            @include sidebars ($sidebars...);
          }
        }

        @if (map-has-key($layout, 'sticky-footer')) {
          $sticky-footer: map-get($layout, 'sticky-footer');
          @if (type-of($sticky-footer) == map) {
            @include sticky-footer ($sticky-footer...);
          }
        }

        @if (map-has-key($layout, 'width')) {
          $width: map-get($layout, 'width');
          @if (type-of($width) == map) {
            @include layout-width ($width...);
          }
        }
      }
    }
  }
}


