$lists-padding: 40px !default;

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

dd {
  margin-left: $lists-padding;
}
menu, ol, ul {
  padding-left: $lists-padding;
}

.unlist {
  @include no-bullets();
  padding: 0 !important;
  margin: 0 !important;
  background: none !important;
  li {
    padding: 0 !important;
    margin: 0 !important;
    background: none !important;
  }
}

b, strong {
  font-weight: 700;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.v-center-table {
  display: table;
  width: 100%;
}
.v-center-cell {
  display: table-cell;
  margin-top: inherit;
  vertical-align: middle;
  width: 100%;
}

.block {
  display: block;
}
.block-center {
  display: block;
  margin-left   : auto;
  margin-right  : auto;
}


* > *:first-child {
  margin-top: 0;
}
* > *:last-child {
  margin-bottom: 0;
}

a.logo, .logo a {
  @include no-border($important: true);

  img {
    @include no-border($important: true);
  }
}







