.input {
  @include sf-input();
}

.input--full {
  @include sf-input--block();
}

.input--default {
  @include sf-input--variant(
    $color-normal:        sf-get-color(btn-primary-normal),
    $color-hover:         sf-default(sf-get-color(btn-primary-hover),     sf-get-color(btn-primary-normal)),
    $color-focus:         sf-default(sf-get-color(btn-primary-focus),     sf-get-color(btn-primary-normal)),
    $color-active:        sf-default(sf-get-color(btn-primary-active),    sf-get-color(btn-primary-normal)),

    $color-bg-normal:     sf-get-color(btn-primary-bg-normal),
    $color-bg-hover:      sf-default(sf-get-color(btn-primary-bg-hover),  sf-get-color(btn-primary-bg-normal)),
    $color-bg-focus:      sf-default(sf-get-color(btn-primary-bg-focus),  sf-get-color(btn-primary-bg-normal)),
    $color-bg-active:     sf-default(sf-get-color(btn-primary-bg-active), sf-get-color(btn-primary-bg-normal)),

    $color-border-normal: sf-get-color(btn-primary-border-normal),
    $color-border-hover:  sf-default(sf-get-color(btn-primary-border-hover),  sf-get-color(btn-primary-border-normal)),
    $color-border-focus:  sf-default(sf-get-color(btn-primary-border-focus),  sf-get-color(btn-primary-border-normal)),
    $color-border-active: sf-default(sf-get-color(btn-primary-border-active), sf-get-color(btn-primary-border-normal)),

    $border-radius:       4px
  );

  #{$is-error} {

  }
}

.input--lg {
  @include sf-input--size(
    $height:                38px,
    $font-size:             $base-font-size,
    $line-height:           $base-line-height,
    $border-width:          1px,
    $padding:               5px 10px
  );
}

