.input {
  @include sf-input();
}

.input--full {
  @include sf-input--block();
}

.input--default {
  @include sf-input--variant(
    $color-normal:        lighten($base-color, 10%),
    $color-bg-normal:     #fff,
    $color-border-normal: #ccc,
    $border-radius:       4px
  );

  #{$is-error} {

  }
}

.input--lg {
  @include sf-input--size(
    $height:                38px,
    $font-size:             $base-font-size,
    $line-height:           $base-line-height,
    $border-width:          1px,
    $padding:               5px 10px
  );
}

.input--md {
  @include sf-input--size(
    $height:                32px,
    $font-size:             14px,
    $line-height:           1.4em,
    $border-width:          1px,
    $padding:               5px 10px
  );
}

