$icon-base: '.icon';

$sprite-icons: (
  base: (
    'selector-prefix': '.icon--',
    'map': 'icons/*.png',
    'base': true,
    'sizes-factor': 1,
    'in-links-margin': 0,
    'in-buttons-margin': 0
  )
);

