@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

.qwe {
  $img: 'bg-header.jpg';

  width: image-width($img);
  height: image-height($img);
  background-image: inline-image($img);
}

@import '../framework/vars/_index';
@import "../framework/mixins/_index";
@import 'vars/_index';
@import "../framework/scaffolding/_index";

.layout-header,
.layout-footer {
  @extend %layout-width-min;
  @include e(inner) {
    @extend %layout-width-max;
  }
}

//@import 'blocks/_index';

