.layout--auth {
  position: relative;

  .logo {
    display: block;
    width: 160px;
  }

  .layout__header-inner,
  .layout__footer-inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .layout__footer-inner {
    @include sf-clearfix;
  }

  @include e(bg) {
    @include sf-stretch();
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -999;
  }

  @include e(bg-copyright) {

  }

  .layout__content {

    .auth {
      @include sf-block-center;

      width: 300px;
      margin-top: 90px;
    }
  }
}

.la-bg-copyright {
  float: right;
  margin-right: 55px;

  font-size: 14px;
  line-height: 17px;
  color: #fff;

  > * {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  @include e(title, author) {
    display: block;

    &:empty {
      display: none;
    }
  }
  @include e(title) {

  }
  @include e(author) {
    opacity: .5;
  }
}
