<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png?v=3">
<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png?v=3">
<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png?v=3">
<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png?v=3">
<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png?v=3">
<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png?v=3">
<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png?v=3">
<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png?v=3">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon-180x180.png?v=3">
<link rel="icon" type="image/png" href="/favicon/favicon-32x32.png?v=3" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon/favicon-194x194.png?v=3" sizes="194x194">
<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png?v=3" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon/android-chrome-192x192.png?v=3" sizes="192x192">
<link rel="icon" type="image/png" href="/favicon/favicon-16x16.png?v=3" sizes="16x16">
<link rel="manifest" href="/favicon/manifest.json?v=3">
<link rel="shortcut icon" href="/favicon/favicon.ico?v=3">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png?v=3">
<meta name="msapplication-config" content="/favicon/browserconfig.xml?v=3">
<meta name="theme-color" content="#ffffff">
<script async src="/js/vendor/modernizr-2.8.3.min.js"></script>
