mixin childtpl(user)
  #user
    if user.username
      h2= user.username
      h2 Description
      p.description= user.description
    else if !user.username
      h1 Description
      p.description User has no description
  .setting= config.param2

if user
  +childtpl(user)
