    <script>
      window.cssFiles = [
        '/css/plugins.css',
        '/css/styles.css'
      ];
      window.cssFontsFiles = [
        '/css/roboto.regular.css',
        '/css/roboto.italic.css',
        '/css/roboto.bold.css',
        '/css/roboto.bolditalic.css'
      ];
    </script>
    <noscript><link rel="stylesheet" type="text/css" href="/css/plugins.css" /></noscript>
    <noscript><link rel="stylesheet" type="text/css" href="/css/styles.css" /></noscript>
    <noscript><link rel="stylesheet" type="text/css" href="/css/roboto.regular.css" /></noscript>
    <noscript><link rel="stylesheet" type="text/css" href="/css/roboto.italic.css" /></noscript>
    <noscript><link rel="stylesheet" type="text/css" href="/css/roboto.bold.css" /></noscript>
    <noscript><link rel="stylesheet" type="text/css" href="/css/roboto.bolditalic.css" /></noscript>
