{% extends './layout.html' %}

{% block Head %}
 <title>It's index Head</title>
  {% parent %}
{% endblock %}

{% block Header %}
  {% parent %}
  It's index Header
{% endblock %}

{% block Content %}
    It's index Content append
    config.param2: {{config.param2}}

    <div class="post">
      <h1>By {{author.firstName}} {{author.lastName}}</h1>
      <div class="body">{{body}}</div>

      <h1>Comments</h1>

      {% for comment in comments %}
        <h2>By {{comment.author.firstName}} {{comment.author.lastName}}</h2>
        <div class="body">{{comment.body}}</div>
      {% endfor %}

      {% include './chunks/part.html' %}
    </div>
{% endblock %}

{% block Footer %}
  It's index Footer
{% endblock %}

