<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">

    {% block Head %}
      <title>Its layout's Head</title>
    {% endblock %}

  </head>
  <body>

    <header>
      {% block Header %}
        Its layout's Header
      {% endblock %}
    </header>

    <article role="main">
      {% block Content %}
        Its layout's Content
      {% endblock %}
    </article>

    <footer>
      {% block Footer %}
        Its layout's Footer
      {% endblock %}
    </footer>

    <script src="/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="/js/libs.js"></script>
    <script src="/js/js.js"></script>

  </body>
</html>