//*********************************************
//    Buttons
//*********************************************
$btn: '.btn, %btn';
$btn-block: '.btn--block, %btn--block';
$btn-file: '.btn--file, %btn--file';

$btn-height: auto;
$btn-font-size: $base-font-size;
$btn-line-height: 16px;
$btn-border-width: 1px;
$btn-padding-vertical: 5px;
$btn-padding-horizontal: 20px;
$btn-lines: 1;
$btn-active-offset: 1px;
$btn-active-offset-type: inner; // inner|outer|none/false

$btn-sizes: (
  default: (
    selector: $btn,
    options: (
      33px,
      15px,
      18px,
      1px,
      5px,
      25px,
      $btn-lines,
      $btn-active-offset,
      $btn-active-offset-type
    )
  ),
  small: (
    selector: '.btn--small, %btn--small',
    options: (
      31px,
      12px,
      15px,
      1px,
      5px,
      16px,
      $btn-lines,
      $btn-active-offset,
      $btn-active-offset-type
    )
  ),
  big: (
    selector: '.btn--big, %btn--big',
    options: (
      40px,
      14px,
      17px,
      1px,
      5px,
      15px,
      $btn-lines,
      $btn-active-offset,
      $btn-active-offset-type
    )
  ),
  biggest: (
    selector: '.btn--biggest, %btn--biggest',
    options: (
      43px,
      18px,
      23px,
      1px,
      5px,
      15px,
      $btn-lines,
      $btn-active-offset,
      $btn-active-offset-type
    )
  )
);


$btn-border-radius: 4px;

$btn-variants: (
  default: (
    selector: $btn,
    options: (
      $color-scheme-white,
      $color-scheme-white,
      $color-scheme-white,
      $color-scheme-white,
      $color-scheme-green,
      #119b24,
      $color-scheme-green,
      #119b24,
      $color-scheme-green,
      $color-scheme-green,
      $color-scheme-green,
      $color-scheme-green,
      $btn-border-radius
    )
  ),
  light-white: (
    selector: '.btn--light-white, %btn--light-white',
    options: (
      $color-scheme-white,
      $color-scheme-white,
      $color-scheme-white,
      $color-scheme-white,
      transparent,
      $color-scheme-green,
      transparent,
      $color-scheme-green,
      $color-scheme-white,
      $color-scheme-green,
      $color-scheme-white,
      $color-scheme-green,
      $btn-border-radius
    )
  ),
  light-green: (
    selector: '.btn--light-green, %btn--light-green',
    options: (
      $color-scheme-green,
      $color-scheme-white,
      $color-scheme-green,
      $color-scheme-white,
      transparent,
      $color-scheme-green,
      transparent,
      $color-scheme-green,
      $color-scheme-green,
      $color-scheme-green,
      $color-scheme-green,
      $color-scheme-green,
      $btn-border-radius
    )
  )
);

#{$btn} {
  #{$actived} {
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.4) inset;
  }
}

