//*********************************************
//    Carcass
//*********************************************

$layout-sidebars-selector-container: '.layout-middle';
$layout-sidebars-selector-content-container: '.layout-content-container';
$layout-sidebars-selector-content: '.layout-content';
$layout-sidebars-selector-sidebar-left: '.layout-sidebar-left';
$layout-sidebars-selector-sidebar-right: '.layout-sidebar-right';

$layout-sticky-footer-height: 100px;
$layout-sticky-footer-selector-container: '.layout';
$layout-sticky-footer-selector-content: '.layout-middle';
$layout-sticky-footer-selector-footer: '.layout-footer';

$layout-width-selector: '.layout-width, %layout-width';
$layout-width-min: 960px;
$layout-width-max: 1200px;
$layout-width-side-space: 20px;
$layout-width-side-space-type: padding; // or "margin"

$layouts: (
  index: (
    container: '',
    layout: (
      sidebars: (
        'selector-container': $layout-sidebars-selector-container,
        'selector-content-container': $layout-sidebars-selector-content-container,
        'selector-content': $layout-sidebars-selector-content,
        'selector-sidebar-left': $layout-sidebars-selector-sidebar-left,
        'selector-sidebar-right': $layout-sidebars-selector-sidebar-right,
        'sidebar-left-width': 150px,
        'sidebar-left-gutter': 20px,
        'sidebar-right-width': 0,
        'sidebar-right-gutter': 0
      ),
      'sticky-footer': (
        'height': $layout-sticky-footer-height,
        'selector-container': $layout-sticky-footer-selector-container,
        'selector-content': $layout-sticky-footer-selector-content,
        'selector-footer': $layout-sticky-footer-selector-footer
      ),
      width: (
        'selector': $layout-width-selector,
        'min': $layout-width-min,
        'max': $layout-width-max,
        'side-space': $layout-width-side-space,
        'side-space-type': $layout-width-side-space-type // or "margin"
      )
    )
  )
) !default;
