$support-for: (
  chrome:  -4,
  edge:    -4,
  firefox: -4,
  ie:      8,
  opera:   -4,
  safari:  -4,
  '*':     -4,
) !default;

$base-box-sizing:           border-box;
$base-font-size:            16px;
$base-line-height:          px(1.4em, $base-font-size);
$base-font-family:          sans-serif;
$base-color:                #3b3b3b;
$base-selection-color:      #b3d4fc;
$base-selection-background: $base-color;
$base-hr-color:             #ccc;
$base-hr-height:            1px;
$base-gutter:               $base-font-size;

$base-unit: 'px' !default;

$h1-font-size: 2    * $base-font-size !default;
$h2-font-size: 1.5  * $base-font-size !default;
$h3-font-size: 1.17 * $base-font-size !default;
$h4-font-size: 1    * $base-font-size !default;
$h5-font-size: 0.83 * $base-font-size !default;
$h6-font-size: 0.67 * $base-font-size !default;

$indent-amount: $base-gutter !default;

$normalize-vertical-rhythm: false !default;

$tahoma-stack: sf-fonts-get-stack(tahoma);
$fonts: (
  (name: ptsans, type: regular,      stack: sl-prepend($tahoma-stack, "PTSans")),
  (name: ptsans, type: italic,       stack: sl-prepend($tahoma-stack, "PTSansItalic")),
  (name: ptsans, type: bold,         stack: sl-prepend($tahoma-stack, "PTSansBold")),
  (name: ptsans, type: bold-italic,  stack: sl-prepend($tahoma-stack, "PTSansBoldItalic")),
) !default;


$theme-current: default;
$themes: (
  default: (
    base: #000000,
    base-contrast: #fff,
    input-border: #cccccc,
    input-border-active: #ff6633,
    input-border-error: #f00,

    btn-primary-normal:        #fff,
    btn-primary-bg-normal:     #ff6633,
    btn-primary-bg-hover:      lighten(#ff6633, 2%),
    btn-primary-bg-active:     darken(#ff6633, 2%),
    btn-primary-border-normal: transparent
  )
);

$base-layout-width-min: 950px;
$base-layout-width-max: 1400px;
$base-layout-side-space: 20px;

$is-hovered:  unquote('&:hover, &.is-hovered') !default;
$is-focused:  unquote('&:focus, &.is-focused') !default;
$is-active:   unquote('&:active, &.is-active') !default;
$is-visited:  unquote('&:visited, &.is-visited') !default;
$is-required: unquote('&.is-required, &[required]') !default;
$is-disabled: unquote('&.is-disabled, &[disabled], fieldset[disabled] &') !default;
$is-error:    unquote('&.is-error') !default;
$is-success:  unquote('&.is-success') !default;

$background-size-behavior: '/js/vendor/backgroundsize.min.htc' !default;

$inputs-like-text-types: text email number password search tel url color date datetime datetime-local month time week !default;


$themes: () !default;
$theme-current: default !default;
@function sf-get-color ($name, $theme: $theme-current) {
  @return map-get-deep($themes, $theme $name);

  @if (map-has-key($themes, $theme)) {
    $colors: map-get($themes, $theme);
    @if (is-map($colors) and map-has-key($colors, $name)) {
      @return map-get($colors, $name);
    } @else {
      @warn('[get-color] Color "#{$name}" doesn\'t exists!');
    }
  } @else {
    @warn('[get-color] Theme "#{$theme}" doesn\'t exists!');
  }

  @return null;
}

@function sf-default ($val, $default: null) {
  @if (is-null($val)) {
    @return $default;
  }

  @return $val;
}
